<div class="left-form__container">
    <div class="left-form__search" ng-show="list.todo_list_items.length <= 15" >
        <input class="input" type="text" placeholder="Поиск..." ng-model="query"
               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
               ng-change="search()"
               autofocus="autofocus"
        >
        <div class="left-form__search-icon"></div>
        <div class="left-form__close-icon"></div>
    </div>
    <div class="left-form__search" ng-show="list.todo_list_items.length == 15">
        <p>Достигнут лимит по количеству точек</p>
    </div>
    <div class="left-form__content mCustomScrollbar" data-mcs-theme="minimal-dark"  ng-style="{'height': heightList+'px'}">
        <div class="left-from__empty" ng-show="list.todo_list_items.length == 0 && query.length == 0">
            <div class="left-from__empty-icon"></div>
            <div class="left-from__empty-text">Попробуй найди что-нибудь в этом уютненьком городе</div>
        </div>
        <div class="left-form__list">
            <!--ng-show="query.length == 0">-->
            <ul ui-sortable="sortableOptions">
                <!--ng-model="list.todo_list_items" ng-change="pushItems()">-->
                <li class="left-form__list-item">
                    <!--ng-repeat="item in list.todo_list_items">-->
                    <div class="left-form__list-item-icon"></div>
                    <h4>{{item.title1</h4>
                    <button class="btn-delete" ng-click="delItem($index)"></button>
                </li>
                <li class="left-form__list-item">
                    <!--ng-repeat="item in list.todo_list_items">-->
                    <div class="left-form__list-item-icon"></div>
                    <h4>{{item.title2</h4>
                    <button class="btn-delete" ng-click="delItem($index)"></button>
                </li>
                <li class="left-form__list-item">
                    <!--ng-repeat="item in list.todo_list_items">-->
                    <div class="left-form__list-item-icon"></div>
                    <h4>{{item.title3</h4>
                    <button class="btn-delete" ng-click="delItem($index)"></button>
                </li>
            </ul>
        </div>
        <div class="left-form__hints" ng-show="query.length != 0">
            <div ng-repeat="item in searchResult" class="left-form__hints-item" ng-click="addItem(item)">
                <h4>{{item.title}}</h4>
                <p>{{item.address}}</p>
            </div>
        </div>
    </div>
    <div class="left-form__btn-container">
        <div class="btn btn-share" style="display: none;"></div>
        <div class="btn btn-way" ng-click="calcRoute()"></div>
    </div>
</div>