<div class="right-form__search">
    <input class='input' type="text" ng-model="query"
           ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
           ng-change="search()"
    >
</div>

<div class="right-form__list" ng-show="query.length == 0 || true">
    <ul>
        <li ng-repeat="item in list.todo_list_items">
            <b>{{item.title}}</b>
        </li>
        <li >
            <b>{item.title}</b>
        </li>
    </ul>
</div>

<div class="right-form__hints" ng-show="query.length != 0 || true">
    <div ng-repeat="item in searchResult" class = 'search-item' ng-click="addItem">
        <h4>{{item.title}}</h4>
        <p>{{item.address}}</p>
        <div class="btn add">
            trash-icon
        </div>
    </div>

    <div class = 'search-item' ng-click="addItem">
        <h4>{item.title}</h4>
        <p>{item.address}</p>
        <div class="btn add">
            trash-icon
        </div>
    </div>
</div>

<!--<div class="right-form__container">-->
<!--<div class="btn">Добавить точку</div>-->
<!--<div class="btn">Удалить точку</div>-->
<!--<div class="btn">Удалить все точки</div>-->
<!--<div class="btn">Построить маршрут</div>-->
<!--</div>-->