<div class="left-form__container">
    <div class="left-form__search">
        <input class="input" type="text" placeholder="Поиск..." ng-model="query"
               ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
               ng-change="search()">
        <div class="left-form__search-icon"></div>
        <div class="left-form__close-icon"></div>
    </div>
    <div class="left-from__empty">

    </div>
    <div class="left-form__list" ng-show="query.length == 0 || true">
        <ul>
            <li ng-repeat="item in list.todo_list_items">
                <b>{{item.title}}</b>
            </li>
            <li >
                <b>{item.title}</b>
            </li>
        </ul>
    </div>

    <div class="left-form__hints" ng-show="query.length != 0 || true">
        <div ng-repeat="item in searchResult" class="search-item" ng-click="addItem">
            <h4>{{item.title}}</h4>
            <p>{{item.address}}</p>
            <div class="btn add">
                trash-icon
            </div>
        </div>

        <div class="search-item" ng-click="addItem">
            <h4>{item.title}</h4>
            <p>{item.address}</p>
            <div class="btn add">
                trash-icon
            </div>
        </div>
    </div>
</div>