@import 'common/_mixins';
@import 'common/_variables';
@import 'common/_left-form';
@import 'common/_map-elements';
@import 'common/_header';
@import 'common/_placeholder';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  .box-sizing();
}

.map-container {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}

.btn {
  width: 56px;
  height: 56px;
  background-color: #008fc1;
  box-shadow: 0 4px 8px fade(#000, 10), 0 2px 2px fade(#000, 10), 0 0 8px fade(#000, 10);
  .radius(@radius);
  .box-sizing();
}

.input {
  width: 100%;
  height: 60px;
  padding: 20px 22px;
  padding-right: 39px;
  border: none;
  border-bottom: 1px solid @grey-border;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;

  .box-sizing();

  &:focus {
    outline: none;
  }
}

