{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "oWay Rest API",
        "description": "**Backend для проекта oWay (*оптимизация поездок по городу*)**\n\nРеализуемого на городском [хакатоне](http://hackathon.2gis.ru/)\n"
    },
    "host": "oway.online",
    "basePath": "/rest/",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/list": {
            "post": {
                "parameters": [
                    {
                        "name": "list",
                        "in": "body",
                        "description": "Список дел",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TodoList"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список дел",
                        "schema": {
                            "$ref": "#/definitions/TodoList"
                        }
                    }
                }
            }
        },
        "/list/{key}": {
            "get": {
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "Ключ списка дел",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список дел",
                        "schema": {
                            "$ref": "#/definitions/TodoList"
                        }
                    },
                    "400": {
                        "description": "Неверный запрос",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "put": {
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "Ключ списка дел",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "list",
                        "in": "body",
                        "description": "Список дел",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TodoList"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список дел",
                        "schema": {
                            "$ref": "#/definitions/TodoList"
                        }
                    },
                    "400": {
                        "description": "Неверный запрос",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/list/{key}/way": {
            "get": {
                "parameters": [
                    {
                        "name": "key",
                        "in": "path",
                        "description": "Ключ списка дел",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Маршрут выполнения дел",
                        "schema": {
                            "$ref": "#/definitions/Way"
                        }
                    },
                    "400": {
                        "description": "Неверный запрос",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/suggest": {
            "get": {
                "parameters": [
                    {
                        "name": "text",
                        "in": "query",
                        "description": "поисковая фраза",
                        "type": "string",
                        "minLength": 2
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Подсказки организаций",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Firm"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Error": {
            "description": "Сообщение об ошибке",
            "required": [
                "code",
                "message"
            ],
            "properties": {
                "code": {
                    "type": "number"
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "GeoPoint": {
            "type": "object",
            "description": "Координаты точки, заданные в системе координат WGS84",
            "required": [
                "lon",
                "lat"
            ],
            "properties": {
                "lon": {
                    "type": "number",
                    "format": "double"
                },
                "lat": {
                    "type": "number",
                    "format": "double"
                }
            }
        },
        "Point": {
            "type": "object",
            "description": "точка маршрута",
            "required": [
                "geo_point",
                "title",
                "position"
            ],
            "properties": {
                "geo_point": {
                    "description": "расположение точки на карте",
                    "$ref": "#/definitions/GeoPoint"
                },
                "title": {
                    "type": "string"
                },
                "address": {
                    "type": "string"
                },
                "position": {
                    "description": "порядок точки в общем списке",
                    "type": "integer"
                }
            }
        },
        "Path": {
            "type": "object",
            "description": "Участок пути",
            "required": [
                "geometry"
            ],
            "properties": {
                "geometry": {
                    "description": "ломанная, показывающая маршрут в формате WKT",
                    "type": "string"
                },
                "duration": {
                    "description": "Продолжительность маршрута в секундах",
                    "type": "integer"
                },
                "distance": {
                    "description": "Длина маршрута в метрах",
                    "type": "integer"
                }
            }
        },
        "Way": {
            "type": "object",
            "description": "маршрут достижения всех пользовательских целей",
            "required": [
                "points",
                "paths"
            ],
            "properties": {
                "total_duration": {
                    "description": "Продолжительность маршрута в секундах",
                    "type": "integer"
                },
                "total_distance": {
                    "description": "Длина маршрута в метрах",
                    "type": "integer"
                },
                "points": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Point"
                    }
                },
                "paths": {
                    "description": "кусочки маршрута",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Path"
                    }
                }
            }
        },
        "TodoItem": {
            "type": "object",
            "description": "Элемент списка дел",
            "required": [
                "key",
                "title",
                "type",
                "position"
            ],
            "properties": {
                "key": {
                    "description": "уникальный идентификатор",
                    "type": "string"
                },
                "title": {
                    "description": "название дела",
                    "type": "string"
                },
                "type": {
                    "type": "string",
                    "enum": [
                        "geo_point",
                        "address",
                        "rubric"
                    ]
                },
                "position": {
                    "description": "порядок элемента в общем списке",
                    "type": "integer"
                },
                "after": {
                    "description": "указание порядка выполнения дел, содержит ключ другого дела",
                    "type": "string"
                },
                "before": {
                    "description": "указание порядка выполнения дел, содержит ключ другого дела",
                    "type": "string"
                },
                "lon": {
                    "description": "координата в системе WGS84",
                    "type": "number",
                    "format": "double"
                },
                "lat": {
                    "description": "координата в системе WGS84",
                    "type": "number",
                    "format": "double"
                }
            }
        },
        "TodoList": {
            "type": "object",
            "description": "Элемент списка дел",
            "required": [
                "key",
                "items"
            ],
            "properties": {
                "key": {
                    "description": "Ключ списка дел",
                    "type": "string"
                },
                "title": {
                    "description": "Название списка дел",
                    "type": "string"
                },
                "items": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TodoItem"
                    }
                },
                "created_at": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        },
        "Firm": {
            "type": "object",
            "description": "Организация",
            "required": [
                "key",
                "title",
                "location"
            ],
            "properties": {
                "key": {
                    "description": "Уникальный идентификатор",
                    "type": "string"
                },
                "title": {
                    "description": "Название места (организации)",
                    "type": "string"
                },
                "address": {
                    "description": "Строковое представление адреса",
                    "type": "string"
                },
                "location": {
                    "description": "Координаты выбранной точки",
                    "$ref": "#/definitions/GeoPoint"
                }
            }
        }
    }
}